<h1>Edit <%= @artist.name %></h1>

<hr />

<p>Please, edit the name: </p>

<%= form_for @artist do |f|%>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>
<%end%>

<%= link_to 'Back', :back %>